<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>

<p th:text="${'Name and surname: ' + person.getName() + ' ' + person.getSurname()}">VALUE</p>
<p th:text="${'Date of birth: ' + person.getDateOfBirth()}">VALUE</p>
<p th:text="${'Id: ' + person.getPersonId()}">VALUE</p>

<div th:if="${books.isEmpty()}">
    <p>Person hasn't borrowed any book yet!</p>
</div>

<div th:if="${!books.isEmpty()}">
    <b>Books: </b>
    <div th:each="book : ${books}" style="margin-top: 10px; margin-bottom: 10px">
        <a th:href="@{/books/{id}(id=${book.getBookId()})}"
           th:text="${book.getName() + ', ' + book.getAuthor() + ', ' + book.getYear()}">book</a>
    </div>
</div>

<hr/>
<br/>
<form th:method="GET" th:action="@{/people/{id}/edit(id=${person.getPersonId()})}">
    <input type="submit" value="Edit person">
</form>
<form th:method="DELETE" th:action="@{/people/{id}/delete(id=${person.getPersonId()})}" style="margin-top: 10px">
    <input type="submit" value="Delete person"/>
</form>

</body>
</html>