<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>

<p th:text="${'Name and surname: ' + person.getName() + ' ' + person.getSurname()}">VALUE</p>
<p th:text="${'Date of birth: ' + person.getDateOfBirth()}">VALUE</p>
<p th:text="${'Id: ' + person.getPersonId()}">VALUE</p>

<!--<p th:if=""-->

<hr>
<form th:href="@{/people/{id}/edit(id=${person.getPersonId()})}">
    <input type="submit" value="Edit person">
</form>
<form th:method="DELETE" th:action="@{/people/{id}/delete(id=${person.getPersonId()})}">
    <input type="submit" value="Delete person"/>
</form>

</body>
</html>